<section>
  <h1>Вступ</h1>
  <h2>Лекція 1</h2>
</section>

<section>
  <h2>Крос-платформне програмування</h2>

  <section>
    <h3>Це написання коду що може бути виконаний на різних платформах.</h3>
  </section>

  <section>
    <h3>Основа курсу - мова JavaScript.</h3>
  </section>
</section>

<section>
  <h2>Чому JavaScript?</h2>

  <section>
    <h3>JavaScript у Браузері</h3>

    <h4>Єдина доступна мова</h4>
  </section>

  <section>
    <h3>JavaScript на Мобільних</h3>

    <img src="images/javascript-mobile.gif" />
  </section>

  <section>
    <h3>JavaScript на Робочому столі</h3>

    <img src="images/javascript-desktop.gif" />
  </section>

  <section>
    <h3>JavaScript у Віртуальній реальності</h3>

    <img src="images/javascript-virtual-reality.gif" />
  </section>

  <section>
    <h3>JavaScript на Пристроях</h3>

    <img src="images/javascript-hardware.gif" />
  </section>

  <section>
    <h3>JavaScript ...</h3>

    <ul>
      <li>в Базах Даних</li>
      <li>в Терміналі</li>
      <li>на Сервері</li>
      <li>в Іграх</li>
      <li>...</li>
    </ul>
  </section>
</section>

<section>
  <h2>Що таке JavaScript?</h2>

  <section>
    <p><strong>JavaScript</strong> - високорівнева, інтерпретована мова програмування що керується специфікацією ECMAScript. Її характеризують, як динамічну, слабко типізовану, прототипну і мультипарадигмальну.</p>
  </section>

  <section>
    <p><strong>Високорівнева</strong> - нам не доведеться керувати пам'яттю та іншими апаратними ресурсами.</p>

    <small>На противагу мові C або мові асемблеру, що потребують безпосереднього керування пам'яттю і тому вважаються <i>низькорівневими</i>.</small>
  </section>

  <section>
    <p><strong>Iнтерпретована</strong> - немає необхідності компілювати перед запуском, перетворенням программи у машинні коди займається спеціальна програма <i>Інтерпретатор</i>, що починає свою роботу під час запуску програми.</p>

    <small>На противагу мові C або Haskell, що потребують попередньої компіляції і тому називаються <i>компільованими</i>.</small>
  </section>

  <section>
    <p><strong>Динамічна</strong> - дозволяє визначати типи даних і здійснювати синтаксичний аналіз і компіляцію «на льоту», безпосередньо на етапі виконання.</p>

    <small>На противагу <i>статичним</i> мовам C++ або Java, що потребують визначення типів заздалегідь.</small>
  </section>

  <section>
    <p><strong>Слабко типізована</strong> - за рахунок можливості неявного приведення типів.</p>

    <small>На противагу мовам із <i>сильною типізацією</i>, таким як Python або Java, що не дозволяють неявного приведення типів.</small>
  </section>

  <section>
    <p><strong>Прототипна</strong> - що використовує Прототипи (замість Класів), як основу для Об'єктно-Орієнтованого Програмування.</p>

    <small>На противагу мовам C++ та Java що використовую Класи, як основу для ООП.</small>
  </section>

  <section>
    <p><strong>Мультипарадигмальна</strong> - що використовує різні парадигми, як засади до створення мови.</p>

    <ul>
      <li><strong>Процедурна</strong> - програми будуються на основі Процедур та Функцій;</li>
      <li><strong>Об'єктно-Орієнована</strong> - реалізує ООП на базі Прототипів;</li>
      <li><strong>Функціональна</strong> - Функції першого класу та Функції вищих порядків.</li>
    </ul>
  </section>
</section>

<section>
  <h2>Створення</h2>

  <section>
    <h3>JavaScript</h3>

    <p><b>Брендан Айк</b> розробив у Грудні 1995-го, для компанії <b>Netscape</b> мову програмування <i>Mocha</i>, пізніше <i>LiveScript</i>, і через деякий час нарешті <i>JavaScript</i>.</p>
  </section>

  <section>
    <h3>JScript</h3>

    <p><b>Microsoft</b> щоб уникнути проблем з торговою маркою, у Серпні 1996-го, створила <i>JScript</i>. Що частково відрізнявся від <i>JavaScript</i>.</p>
  </section>

  <section>
    <h3>ECMAScript</h3>

    <p><b>Netscape</b> у Лістопаді 1996-го почала процес стандартизаці, за допомогою компанії <i>Ecma International</i>. Новий стандарт <i>ECMA-262</i>, за згодою учасників, до складу яких приєднався згодом <b>Microsoft</b>, отримав назву <i>ECMAScript</i>.</p>
  </section>

  <section>
    <h3>TC39</h3>

    <p><b>Technical Committee 39</b> займається розробкою і розвитком стандарту <i>ECMAScript</i>.</p>
  </section>
</section>

<section>
  <h2>Розвиток</h2>

  <section>
    <h3>Ранні версії</h3>

    <table>
      <thead>
        <tr><th>Версія</th><th>Дата</th><th>Зміни</th></tr>
      </thead>

      <tbody>
        <tr><td>1</td><td>Червень 1997</td><td></td></tr>
        <tr><td>2</td><td>Червень 1998</td><td>Узгоджено зі стандартом ISO/IEC 16262</td></tr>
        <tr><td>3</td><td>Грудень 1999</td><td>Регулярні вирази, обробки винятків, додаткові можливості</td></tr>
      </tbody>
    </table>
  </section>

  <section>
    <h3>4-а версія</h3>

    <table>
      <thead>
        <tr><th>Версія</th><th>Дата</th><th>Зміни</th></tr>
      </thead>

      <tbody>
        <tr><td>4</td><td>не випущена</td><td>Класи, модулі, статична типізація, генератори, ітератори, деструктивне просвоєння, алгебраїчні типи даних</td></tr>
      </tbody>
    </table>
  </section>

  <section>
    <h3>5-а версія</h3>

    <table>
      <thead>
        <tr><th>Версія</th><th>Дата</th><th>Зміни</th></tr>
      </thead>

      <tbody>
        <tr><td>5</td><td>Грудень 2001</td><td>"strict mode", JSON, рефлексія, численні виправлення та прояснення</td></tr>
        <tr><td>5.1</td><td>Червень 2001</td><td>Узгоджено зі стандартом ISO/IEC 16262:2011</td></tr>
      </tbody>
    </table>
  </section>

  <section>
    <h3>Сучасні (Harmony)</h3>

    <table>
      <thead>
        <tr><th>Версія</th><th>Дата</th><th>Зміни</th></tr>
      </thead>

      <tbody>
        <tr><td>2015 (6)</td><td>Червень 2015</td><td>Класи, модулі, генератори, ітератори, деструктивне просвоєння, обіцянки, рефлексія, проксі</td></tr>
        <tr><td>2016</td><td>Червень 2016</td><td>Експонента **, Array.prototype.includes</td></tr>
        <tr><td>2017</td><td>Червень 2017</td><td>async/await, SIMD, метапрограмування</td></tr>
        <tr><td>2018</td><td>Червень 2018</td><td>rest/spread properties, асинхронна ітерація</td></tr>
        <tr><td>2019</td><td>Червень 2019</td><td>Array.flat, String.trimStart</td></tr>
      </tbody>
    </table>
  </section>
</section>

<section>
  <h2>Основи</h2>

  <section>
    <h3>Дані</h3>

    <ul>
      <li>Число: 42, 123.12</li>
      <li>Рядок: 'Hello1', "Word!"</li>
      <li>Логічні: true, false</li>
    </ul>
  </section>

  <section>
    <h3>Пусті типи даних</h3>

    <ul>
      <li><b>null</b> - Нуль. Якщо значення визначене але пусте</li>
      <li><b>undefined</b> - Якщо значення не визначене</li>
    </ul>

    <img src="images/null-undefined.png" />
  </section>

  <section>
    <h3>Вирази (expressions)</h3>

    <p>Набір даних та операторів що повертає значення (обраховується та підставляє на своє місце).</p>

    <i>Приклад: 3 + 4 * 5</i>
  </section>

  <section>
    <h3>Інструкції (statement)</h3>

    <p>Один або декілька виразів, що закінчується на `;`.</p>
    <p><i>`;` можна опускати але це може іноді призводити до неочікуванних наслідків</i></p>
  </section>

  <section>
    <h3>Змінні</h3>

    <pre><code class="javascript hljs" data-trim contenteditable>
let a = 4;
    </code></pre>
  </section>

  <section>
    <h3>Умови</h3>

    <pre><code class="javascript hljs" data-trim contenteditable>
let x = 0;
let i = 0;

if (x &gt; 0) {
  i++;
} else {
  i--;
}

i; //=&gt; -1
    </code></pre>
  </section>

  <section>
    <h3>Цикли</h3>

    <pre><code class="javascript hljs" data-trim contenteditable>
let i = 0;

while (i &lt; 5) {
  i++;
}

i; //=&gt; 5
    </code></pre>

    <pre><code class="javascript hljs" data-trim contenteditable>
for (let i = 0; i &lt; 5; i++) {
  // ...код...
}
    </code></pre>
  </section>

  <section>
    <h3>Функції</h3>

    <pre><code class="javascript hljs" data-trim contenteditable>
function add(a, b) {
  return a + b;
}
    </code></pre>
  </section>

  <section>
    <h3>Коментарі</h3>

    <pre><code class="javascript hljs" data-trim contenteditable>
// Це коментар

/*
 * А це
 *   багатостроковий
 * коментар
 */
    </code></pre>
  </section>
</section>

<section>
  <h2>Питання?</h2>
</section>
