code {
  font-size: 21px !important;
}

iframe {
  width: 320px;
  height: 240px;
}

iframe.wide {
  width: 960px;
  height: 240px;
}

dl {
  display: block !important;
}

img {
  background-color: white !important;
  max-height: 50vh !important;
  box-shadow: none !important;
}

.reveal {
  font-size: 34px !important;
}

a i {
  opacity: 0.5;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none !important;
}
