<section>
  <h1>Керування</h1>
  <h2>Лекція 4</h2>
</section>

<section>
  <p>try/catch, while, for, if, break, with</p>
</section>

<section>
  <h2>Умови</h2>

  <section>
    <p>Дозволяють виконувати чи не код в залежності від певної умови.</p>
  </section>

  <section>
    <h3>if...else</h3>

    <pre><code class="javascript hljs" data-trim contenteditable>
let x = 0;
let i = 0;

if (x &gt; 0) {
  i++;
} else {
  i--;
}

i; //=&gt; -1
    </code></pre>
  </section>
</section>

<section>
  <h2>Цикли</h2>

  <section>
    <p>Дозволяють виконувати інструкції певну кількість разів. Одине виконання називається - ітерація.</p>
  </section>

  <section>
    <h3>while</h3>

    <p>Виконує блок коду доки умова правдива. Якщо умова одразу неправдива, не виконується жодного разу.</p>

    <pre><code class="javascript hljs" data-trim contenteditable>
let i = 0;

while (i &lt; 5) {
  i++;
}

i; //=&gt; 5
    </code></pre>
  </section>

  <section>
    <h3>for</h3>

    <p>Скорочений запис циклу що виконується конкретну кількість разів. Складається з трьох частин `for (ініціалізація; умова; зміна)`.</p>

    <pre><code class="javascript hljs" data-trim contenteditable>
for (let i = 0; i &lt; 5; i++) {
  // ...код...
}
    </code></pre>
  </section>
</section>

<section>
  <h2>Питання?</h2>
</section>
